.reaiName_card_title {
	font-size: .28rem;
	display: flex;
	padding-top: .6rem;
}

.reaiName_card_signL {
	border-top: 1px solid #DCDCDC;
	width: .6rem;
	height: 1px;
	margin-top: .18rem;
	margin-right: .2rem;
	margin-left: 1.1rem;
}

.reaiName_card_signR {
	border-top: 1px solid #DCDCDC;
	width: .6rem;
	height: 1px;
	margin-top: .18rem;
	margin-left: .2rem;
}

.reaiName_division_signL {
	border-top: 1px solid #DCDCDC;
	width: .6rem;
	height: 1px;
	margin-top: .18rem;
	margin-right: .2rem;
	margin-left: 1.8rem;
}

.reaiName_division_signR {
	border-top: 1px solid #DCDCDC;
	width: .6rem;
	height: 1px;
	margin-top: .18rem;
	margin-left: .2rem;
}

.font_size26 {
	font-size: .26rem;
	-text-align: center;
	color: #999999;
	margin-left: .32rem;
}

.font_margin {
	margin-top: .2rem;
}

.font_size26 span {
	color: #FEAE11;
}

.tips_moudel {
	-border: 1px dashed #333333;
	width: 7rem;
	height: 1.8rem;
	overflow: hidden;
	margin-top: .45rem;
	margin-left: .25rem;
}

#realNameOne ._left {
	width: 3.2rem;
	height: 2.72rem;
	-border: 1px dashed #333333;
	margin-top: .3rem;
	margin-left: .51rem;
	overflow: hidden;
	text-align: center;
}

#realNameOne .font {
	width: 3.5rem;
	margin-top: .1rem;
	margin-left: .2rem;
	text-align: center;
	font-size: .24rem;
	font-weight: 800;
}

.division {
	background-color: #F4F4F4;
	height: .2rem;
	margin-top: 0.8rem;
}

#realNameOne ._left div {
	font-size: .3rem;
	padding-top: .5rem;
}

/* 信息确认 */

._one {
	float: left;
	height: 1.1rem;
	-margin-top: .2rem;
	border-bottom: 1px solid #EBEAEB;
	width: 6.9rem;
	margin-left: 0.3rem;
}

._one_one{
	width: 7.5rem;
	height: 2.2rem;
	background-color: #FFFFFF;
}

._one ._left {
	width: 2rem;
	text-align: left;
	float: left;
	font-size: .3rem;
	-padding-left: .4rem;
	color: #303030;
	line-height: 1.1rem;
}

._one ._right {
	width: 4.8rem;
	float: left;
}

._one ._right input {
	border: none;
	/* height: .3rem; */
	margin-top: 0.1rem;
}

.bottom_btn {
	width: 7rem;
	height: .9rem;
	border-radius: .5rem;
	text-align: center;
	color: #FFFFFF;
	font-size: .3rem;
	margin-left: .3rem;
	padding-top: .25rem;
	position: fixed;
	bottom: .3rem;
	background: linear-gradient(to right, #FF765A, #FF0100);
}

/* 信息录入 */
._one ._left_y {
	width: 2rem;
	text-align: left;
	float: left;
	font-size: .3rem;
	padding-left: .4rem;
	color: #303030;
	line-height: 2;
}

._one ._right_i {
	width: 2.7rem;
	float: left;
}

._one ._right_i input {
	border: none;
}

._right_yb {
	float: left;
	font-size: .3rem;
	color: #A0A0A0;
	border: none;
	width: 2.3rem;
	padding-top: .4rem;
	text-align: center;
	border-left: 1px solid #CCCCCC;
	height: 1.2rem;
	margin-top: -.2rem;
}


/* 银行卡 */
#bankCard {}

#bankCard .bank_moudel {
	width: 6.9rem;
	height: 2.2rem;
	border-radius: .2rem;
	margin-left: .3rem;
	float: left;
	margin-top: .3rem;
	color: #FFFFFF;
	/* background: linear-gradient(to right, #FF7366, #FE5262); */
}

.bank_bgColor_zgp{
	/* red */
	background: linear-gradient(to right, #FF7066,#FC484E);
}
.bank_bgColor_ny{
	/* blue */
	background: linear-gradient(to right, #01A99C, #028DAE);
}
.bank_bgColor_jj{
	/* greet */
	background: linear-gradient(to right, #498ACE, #4063BF);
}


#bankCard .bank_moudel ._left {
	width: 1.2rem;
	float: left;
}

#bankCard .bank_moudel ._left div {
	width: .8rem;
	height: .8rem;
	border-radius: 50%;
	/* border: 1px solid red; */
	overflow: hidden;
	margin-top: .6rem;
	margin-left: .3rem;
}

#bankCard .bank_moudel ._right {
	width: 5.7rem;
	float: left;
	margin-top: .8rem;
}

#bankCard .bank_moudel ._right ._Bone {
	width: 100%;
	float: left;
}

._Bone_number {
	font-size: .32rem;
	-float: left;
	float: right;
	margin-right: .3rem;
}

._Bone_name {
	font-size: .3rem;
	float: left;
	margin-left: .2rem;
}

/* 弹出框 */
.order_change_model {
	width: 5.5rem;
	height: 3rem;
	background: #FFFFFF;
	position: fixed;
	top: 4rem;
	left: .9rem;
	z-index: 999999;
	border-radius: 0.1rem;
	box-sizing: border-box;
	padding: .5rem 0 .5rem 0;
	margin: 0 auto;

}

.orderChange_moudel {
	border-bottom: 1px solid #CBCBCB;
	height: 1.5rem;
	text-align: center;
}

.orderChange_moudel_btn div {
	width: 50%;
	text-align: center;
	color: #0076FF;
	font-size: .34rem;
	line-height: 2;
}

.orderChange_moudel_btn div:nth-child(1) {
	border-right: 1px solid #CBCBCB;
}

.success_img{
	width: 3.7rem;
	height: 2rem;
	margin-left: 1.9rem;
	margin-top: 3rem;
}


/* 密码支付框 */
#pay {
	background-color: rgba(255, 255, 255, .99);
	position: fixed;
	top: 2rem;
	height: 4.5rem;
	width: 6rem;
	margin-left: .85rem;
	-text-align: center;
	display: flex;
	justify-content: center;
	border-radius: 0.24rem;
	z-index: 999;
	display: none;
}

#pay .mui-popover-close {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 5px;
	left: 5px;
}

#pay .title {
	display: inline-block;
	margin-top: 0.3rem;
	font-size: .34rem;
	color: #333333;
}

#pay img {
	margin-left: 0.41rem;
	margin-top: 0.2rem;
}

.title {
	color: #333333;
	margin-left: 1.5rem;
}

#countent_id {
	margin-left: 0.36rem;
	width: 5.08rem;
	height: 3.3rem;
}

.type {
	color: #666666;
	font-size: 0.3rem;
	margin-left: 1rem;
}

.number {
	color: #666666;
	font-size: .3rem;
}

.zfinput {
	opacity: 0;
	z-index: 2;
	position: relative;
	top: -50px;
}

.table {
	margin-top: 30px;
	display: inline-block;
	height: 40px;
	display: flex;
	justify-content: center;
}

.table>div {
	text-align: center;
	line-height: 40px;
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 1px solid rgba(187, 187, 187, .99);
	border-right: none;
}

.table>div:last-child {
	border-right: 1px solid rgba(187, 187, 187, .99);
}

#pay input[type='number'] {
	width: 68%;
	margin: 0;
	padding: 0;
	height: 50px;
}

.blackpwd {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: black;
	border-radius: 50%;
	opacity: 0;
}

.password_btn {
	width: 2.2rem;
	height: .8rem;
	background: linear-gradient(to right, #FF765A, #FF0100);
	color: #FFFFFF;
	border-radius: .5rem;
	text-align: center;
	line-height: 3;
	font-size: .3rem;
	margin-top: -1rem;
	margin-left: 1.9rem;
}

#imagChoice{
	width: 7.5rem;
	height: 3.5rem;
	background-color: #FFFFFF;
	z-index: 999;
	position: fixed;
	bottom: 0;
	text-align: center;
}
